@font-face {
	font-family: Quadranta Regular;
	src: url('../fonts/quadranta_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/quadranta_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/quadranta_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/quadranta_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/quadranta_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/quadranta_regular.svg#quadranta_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}